name: Java CI with Playwright

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          java-version: '17'

      - name: Run tests
        run: |
          export DISPLAY=:99
          Xvfb :99 -screen 0 1920x1080x24 >/dev/null 2>&1 &
          mvn clean test -B -Dslow.mo=200

      - name: Create artifacts archive
        if: always()
        run: |
          # Просто архивируем всю папку target
          zip -r test-results.zip target/

      - name: Upload results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-results
          path: test-results.zip
          retention-days: 30