name: Java CI with Playwright and Allure

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Java 17
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: "17"
          cache: maven

      - name: Run tests
        run: |
          # Установка зависимостей Playwright
          mvn exec:java -e -Dexec.mainClass=com.microsoft.playwright.CLI -Dexec.args="install" -B
          
          # Запуск тестов
          mvn clean test -B

      - name: Generate Allure Report
        if: always()
        run: |
          mvn allure:report -B

      - name: Upload artifacts
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-artifacts
          path: |
            target/allure-report/
            target/allure-results/
            target/screenshots/
            target/videos/
            target/surefire-reports/
          retention-days: 30